services:
  fitness-app:
    build: .
    ports:
      - "5000:5000"
    labels:
      com.datadoghq.ad.logs: '[{"source":"nodejs","service":"fitness-tracker"}]'
    environment:
      - NODE_ENV=production
      - MONGODB_URI=mongodb://localhost:27017/artgallery
      - DD_AGENT_HOST=datadog-agent
      - DD_TRACE_AGENT_PORT=8126
      - DD_SERVICE=fitness-tracker
      - DD_ENV=production
      - DD_VERSION=1.0.0
      - DD_LOGS_INJECTION=true
    depends_on:
      - mongodb
      - datadog-agent

  mongodb:
    image: mongo:7.0-jammy
    ports:
      - "27017:27017"